.profileCardWrapper {
    padding: 1%;
    width: 75%;
}

.profileCard {
    padding: 10px;
}

.profileCard div {
    padding: 0;
    display: flex;
}

.userData {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.userImage {
    flex-basis: 20%;
}

.userImage .react-gravatar {
    border-radius: 50%;
    height: 100%!important;
}